@model IEnumerable<BookDto>
@{
    ViewBag.Title = "Каталог";
}
<body>

    @{
        <h3 class="text-center">Каталог книг</h3>
        
        if (Model.Count() == 0)
        {
            <hr />
            <h3 class="text-center">В библиотеке нет книг</h3>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Количество страниц</th>
                    <td></td>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Title</td>
                        <td>@a.Genre.Type.Name</td>
                        <td>@a.NumberOfPages</td>
                        <td><a asp-action="Details" asp-route-id="@a.Id">Подробнее...</a></td>
                    </tr>
                }
            </table>
        }
    }

</body>
