@model int

@{
    ViewBag.Title = "Абонемент истекает";
}

<h3>Продление невозможно — истекает ваш абонемент</h3>
<hr />
<a asp-controller="Profile" asp-action="Index" asp-route-id="@Model" class="btn btn-outline-dark">ОК</a>
