@model int

@{
    ViewBag.Title = "Недостаточно средств";
}

<h3>На вашем счету недостаточно средств</h3>
<hr />
<a asp-controller="BookCopies" asp-action="Browse" asp-route-readerId="@Model" class="btn btn-outline-dark">ОК</a>
