@model int

@{ 
    ViewBag.Title = "Недостаточно средств";
}

<h3>На вашем счету недостаточно средств</h3>
<hr/>
<a asp-controller="Profile" asp-action="Index" asp-route-id="@Model" class="btn btn-outline-dark">ОК</a>
